body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to bottom, #e5e5e5, #f1f1f1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  #heart {
    position: relative;
    width: 100px;
    height: 90px;
    transform: rotate(-45deg);
    margin-bottom: 2rem;
  }
  
  #heart:before,
  #heart:after {
    content: "";
    position: absolute;
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: red;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
  }
  
  #heart:after {
    left: 0;
    border-radius: 0 50px 50px 0;
  }
  
  #piropo {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
    font-family: 'Pacifico', cursive;
    text-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red, 0 0 40px red, 0 0 50px red, 0 0 60px red, 0 0 70px red;
  }
  
  button {
    background-color: red;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #cc0000;
  }